/* General */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  /* Contenedor principal del país */
  pais {
    background-color: #e0f7fa; /* Azul claro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url("../imgs/fondo1.jpg");
  }
  
  /* Tarjeta de cada departamento */
  departamento {
    background-color: #b0f3d4da;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: block;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  departamento:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(146, 64, 64, 0.3);
    background-color: #81f0ab;
  }
  
  /* Títulos de los departamentos */
  cabecera {
    font-size: 1.5em;
    font-weight: bold;
    color: #48b6a9; /* Verde oscuro */
    margin-top: 0;
  }
  
  /* Información del departamento */
  habitantes, altura, areaTerritorial, codigoPostal, densidadPoblacional {
    display: block;
    margin-top: 10px;
    font-size: 1em;
  }
  
  /* Estilo para la sección de idiomas */
  idiomas {
    margin-top: 15px;
    border-top: 2px solid #00796b; /* Línea superior verde oscuro */
  }
  
  idiomas > * {
    margin: 5px 0;
    font-style: italic;
    color: #000000; 
  }
  

  principalesComercios {
    margin-top: 15px;
    border-top: 2px solid #00796b; 
  }
  
  principalesComercios > * {
    margin: 5px 0;
    font-style: italic;
    color: #004d40;
  }
  

  departamento > * {
    color: #886464;
  }
  

  nombre, apellido {
    font-family: 'Georgia', serif;
  }
  